@model Book

<div class="container py-5">
    <h1 class="text-primary">@Model.BookTitle</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="@Model.BookTitle" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <p><strong>Author:</strong> @Model.Author</p>
            <p><strong>Publisher:</strong> @Model.Publisher</p>
            <p><strong>Year of Publication:</strong> @Model.YearOfPublication</p>
            <p><strong>Genre:</strong> @Model.Genre</p>
            <p><strong>Age Restriction:</strong> @Model.AgeRestriction</p>
            <p><strong>Price for Borrow:</strong> $@Model.PriceForBorrow</p>

            @if (Model.DISCOUNTEDPriceForBorrow > 0)
            {
                <strong>Discounted Borrow Price:</strong> @Model.DISCOUNTEDPriceForBorrow

                <br>
            }


            <p><strong>Price for Buy:</strong> $@Model.PriceForBuy</p>
            @if (Model.DISCOUNTEDPriceForBuy > 0)
            {
                <strong>Discounted Buy Price:</strong> @Model.DISCOUNTEDPriceForBuy

                <br>
            }
            
          
            <p><strong>Popularity:</strong> @Model.Popularity</p>
            <p>
                <strong>Formats Available:</strong>
                @if (Model.PDF)
                {
                    <span>PDF </span>
                }
                @if (Model.epub)
                {
                    <span>EPUB </span>
                }
                @if (Model.f2b)
                {
                    <span>F2B </span>
                }
                @if (Model.mobi)
                {
                    <span>MOBI </span>
                }
            </p>

           
        </div>
    </div>

    <!-- Alerts -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-3">@TempData["ErrorMessage"]</div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3">@TempData["SuccessMessage"]</div>
    }
</div>
