<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-8">
        <h4 class="text-center display-4 text-primary mb-4" style="font-size: 2rem">Enter Book Information</h4>
        <div class="p-3 bg-light border rounded shadow-sm">
            <form action="AddBook" method="POST">

                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-info">
                        @TempData["Message"]
                    </div>
                }
                <div class="row">
                    <div class="col-md-6">
                        <label for="BookTitle" class="small">Book Title:</label>
                        <input type="text" id="BookTitle" name="BookTitle" class="form-control form-control-sm" value="@Model.BookTitle">
                    </div>
                    <div class="col-md-6">
                        <label for="Author" class="small">Author:</label>
                        <input type="text" id="Author" name="Author" class="form-control form-control-sm" value="@Model.Author">
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="Publisher" class="small">Publisher:</label>
                        <input type="text" id="Publisher" name="Publisher" class="form-control form-control-sm" value="@Model.Publisher">
                    </div>
                    <div class="col-md-6">
                        <label for="YearOfPublication" class="small">Year of Publication:</label>
                        <input type="number" id="YearOfPublication" name="YearOfPublication" class="form-control form-control-sm" min="1700" step="1">
                    </div>
                </div>

               
                <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="Genre" class="small">Genre:</label>
                            <select id="Genre" name="Genre" class="form-control form-control-sm">
                                <option value="Fiction">Fiction</option>
                                <option value="Non-Fiction">Non-Fiction</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Science Fiction">Science Fiction</option>
                                <option value="Romance">Romance</option>
                                <option value="Biography">Biography</option>
                                <option value="History">History</option>
                                <option value="Poetry">Poetry</option>
                            </select>
                        </div>



                        <div class="col-md-6">
                            <label for="Popularity" class="small">Popularity:</label>
                            <select id="Popularity" name="Popularity" class="form-control form-control-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>



                        <div class="col-md-6">
                            <label for="AvailableFormats" class="small">Available Formats:</label>
                            <div class="form-control form-control-sm">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="PDF" name="PDF" value="true">
                                    <label class="form-check-label" for="PDF">PDF</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="epub" name="epub" value="true">
                                    <label class="form-check-label" for="epub">epub</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="f2b" name="f2b" value="true">
                                    <label class="form-check-label" for="f2b">f2b</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="mobi" name="mobi" value="true">
                                    <label class="form-check-label" for="mobi">mobi</label>
                                </div>
                            </div>
                        

                    
                        <div class="col-md-6">
                            <label for="AgeRestriction" class="small">Age Restriction:</label>
                            <select id="AgeRestriction" name="AgeRestriction" class="form-control form-control-sm">
                                <option value="18+">18+</option>
                                <option value="21+">21+</option>
                                <option value="12+">12+</option>
                                <option value="7+">7+</option>
                                <option value="All Ages">All Ages</option>
                            </select>
                        </div>
                  
                </div>


                        <div class="row mt-3">

                        <div>
                            <label class="small">Buy Only?</label>

                            <div class="form-check">
                                <input type="radio" id="BuyOnlyNo" name="BuyOnly" class="form-check-input" value="false" onchange="DealWithBuyOnly()" checked>
                                <label for="BuyOnlyNo" class="form-check-label">Not BUY ONLY</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="BuyOnlyYes" name="BuyOnly" class="form-check-input" value="true" onchange="DealWithBuyOnly()">
                                <label for="BuyOnlyYes" class="form-check-label">BUY ONLY</label>
                            </div>

                        </div>



                        </div>


                     
                  



                        <div class="row mt-3">

                           <div class="col-md-6">
										        <label for="PriceForBorrow" class="small"> Update Borrowing price: </label>
										        <input type="text" id="PriceForBorrow" name="PriceForBorrow" class="form-control form-control-sm" onchange="validatePrices()"/>
				           </div>

                           <div class="col-md-6">
							        <label for="PriceForBuy" class="small">Update Buying price:</label>
									        <input type="text" id="PriceForBuy" name="PriceForBuy" class="form-control form-control-sm" value="@Model.PriceForBuy" onchange="validatePrices()" />
					        </div>
                    
                        </div>


                      <div class="col-md-3" >
                        <div>
                            <label class="small">Update Sale?</label>
                            <div class="form-check">
                                <input type="radio" id="UpdateSaleNo" name="UpdateSale" class="form-check-input" value="0" onchange="DealWitheDiscountFields()" checked>
                                <label for="UpdateSaleNo" class="form-check-label">No Update</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="UpdateSaleYes" name="UpdateSale" class="form-check-input" value="1" onchange="DealWitheDiscountFields()">
                                <label for="UpdateSaleYes" class="form-check-label">Update Sale</label>
                            </div>
                        </div>

					    </div>







                        <div class="col-md-3" id="SaleDurationContainer" >
                            <label for="AmountOfSaleDays" class="small">Amount of days for the sale:</label>
                            <select id="AmountOfSaleDays" name="AmountOfSaleDays" class="form-control form-control-sm" disabled>
                              
                                <option value="1">1 day</option>
                                <option value="2">2 days</option>
                                <option value="3">3 days</option>
                                <option value="4">4 days</option>
                                <option value="5">5 days</option>
                                <option value="6">6 days</option>
                                <option value="7">7 days</option>
                            </select>
                        </div>


       



                        </div>

                            <div class="row mt-3 align-items-center">
                                <div class="col-md-3">
                                <label for="DISCOUNTEDPriceForBuy" class="small"> Discounted Price for Buy:</label>
                        <input type="number" step="0.01" id="DISCOUNTEDPriceForBuy" name="DISCOUNTEDPriceForBuy" class="form-control form-control-sm" onchange="validatePrices()" disabled>
                            </div>

                            <div class="col-md-3">
                                <label for="DISCOUNTEDPriceForBorrow" class="small"> Discounted Price for Borrow:</label>
                        <input type="number" step="0.01" id="DISCOUNTEDPriceForBorrow" name="DISCOUNTEDPriceForBorrow" class="form-control form-control-sm" onchange="validatePrices()" disabled>
                            </div>
                        </div>



                <script>
                    function DealWithBuyOnly() {
                        const isBuyOnly = document.querySelector('input[name="BuyOnly"]:checked').value;
                        const borrowField = document.getElementById("PriceForBorrow");
                        const discountedBorrowField = document.getElementById("DISCOUNTEDPriceForBorrow");
                        const updateSale = document.querySelector('input[name="UpdateSale"]:checked').value;
                        const discountedBuyField = document.getElementById("DISCOUNTEDPriceForBuy");
                        const saleDurationField = document.getElementById("AmountOfSaleDays");

                        if (isBuyOnly === "true") { // Book is Buy Only
                            borrowField.disabled = true;
                            borrowField.value = "";
                            discountedBorrowField.disabled = true;
                            discountedBorrowField.value = "";
                        } else { // Book is not Buy Only
                            borrowField.disabled = false;
                            DealWitheDiscountFields(); // Call to update the discount-related fields
                        }

                        // If book is Buy Only and Update Sale is enabled, disable discountedBorrowField
                        if (isBuyOnly === "true" && updateSale === "1") {
                            discountedBorrowField.disabled = true;
                            discountedBorrowField.value = "";
                        }
                    }
                </script>

                <script>
                    function DealWitheDiscountFields() {
                        const updateSale = document.querySelector('input[name="UpdateSale"]:checked').value;
                        const discountedBuyField = document.getElementById("DISCOUNTEDPriceForBuy");
                        const discountedBorrowField = document.getElementById("DISCOUNTEDPriceForBorrow");
                        const buyOnlyValue = document.querySelector('input[name="BuyOnly"]:checked').value;
                        const saleDurationField = document.getElementById("AmountOfSaleDays");

                        if (updateSale === "1") {
                            discountedBuyField.disabled = false;
                            saleDurationField.disabled = false;

                            if (buyOnlyValue === "true") { // Book is Buy Only
                                discountedBorrowField.disabled = true;
                                discountedBorrowField.value = "";
                            } else {
                                discountedBorrowField.disabled = false;
                            }
                        } else {
                            discountedBuyField.disabled = true;
                            discountedBorrowField.disabled = true;
                            saleDurationField.disabled = true;

                            if (buyOnlyValue === "true") { // Book is Buy Only
                                discountedBorrowField.value = "";
                            }
                        }
                    }
                </script>


                        	<script>
									function validatePrices() {
										const priceForBuy = parseFloat(document.getElementById("PriceForBuy").value) || 0;
										const priceForBorrow = parseFloat(document.getElementById("PriceForBorrow").value) || 0;
										const discountedPriceForBuy = parseFloat(document.getElementById("DISCOUNTEDPriceForBuy").value) || 0;
										const discountedPriceForBorrow = parseFloat(document.getElementById("DISCOUNTEDPriceForBorrow").value) || 0;

										const priceForBuyField = document.getElementById("PriceForBuy");
										const priceForBorrowField = document.getElementById("PriceForBorrow");

										// Validate if the entered Buy price is lower than the discounted price
										if (priceForBuy < discountedPriceForBuy && priceForBuy > 0) {
											priceForBuyField.setCustomValidity("Buy price cannot be lower than the discounted price.");
											priceForBuyField.reportValidity();  // Display validation message
										} else {
											priceForBuyField.setCustomValidity("");  // Clear validation message
										}

										// Validate if the entered Borrow price is lower than the discounted price
										if (priceForBorrow < discountedPriceForBorrow && priceForBorrow > 0) {
											priceForBorrowField.setCustomValidity("Borrow price cannot be lower than the discounted price.");
											priceForBorrowField.reportValidity();  // Display validation message
										} else {
											priceForBorrowField.setCustomValidity("");  // Clear validation message
										}
									}
								</script>


                                     
              


               
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="ImageUrl" class="small">Image URL:</label>
                                <input type="url" id="ImageUrl" name="ImageUrl" class="form-control form-control-sm" value="@Model.ImageUrl">
                            </div>
                        </div>



               

                        <!-- Submit Button -->
                        <div class="form-group text-center mt-4">
                            <input type="submit" class="btn btn-primary btn-sm" value="ADD">
                        </div>


             

            </form>
        </div>
   </div>
</div>

@if (TempData["BookAddedSuccessfully"] != null)
{
    <div class="alert alert-success">@TempData["BookAddedSuccessfully"]</div>
}


<script>
    // עדכון המקסימום לשנה העדכנית
    document.getElementById('YearOfPublication').max = new Date().getFullYear();
</script>
